# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/

# Environment Variables
.env

# FAISS Index
backend/vector_db/
vector_db/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db